@import "./common.scss";
@import "./ypy.scss";

#banner {
  width: 300px;
  height: 250px;
}

#legalBtn {
  @include pos(240, 0);
  width: 60px;
}

#olg {
  width: 100px;
  height: 69px;
  @include pos(0, 192);
}
