@import "./common.scss";
@import "./ypy.scss";

#banner {
  width: 320px;
  height: 50px;
}

#legalBtn {
  @include pos(280, 0);
  width: 40px;
}

#legalContent {
  font-size: 8px;
  line-height: 9px;
  padding: 2px;
  br {
    display: none;
  }
}

#olg {
  width: 63px;
  height: 69px;
  @include pos(2, 1);
}
