
.device{
	filter: drop-shadow(0px 0px 20px #ff375f) drop-shadow(0px 0px 20px #ff375f);
}

.phone{
	filter: drop-shadow(-1px -3px 5px #FFFFFF) drop-shadow(-1px -3px 5px rgba(255, 135, 170, .8)) drop-shadow(-1px -3px 5px rgba(255, 135, 170, .8));
	opacity: 0;
}

.hero_off, .hero_on{
	// display: none;
}


.end_device{
	filter: drop-shadow(0px 0px 20px #ffffff) drop-shadow(0px 0px 20px #ff375f);
}


.device{
	filter: drop-shadow(0px 0px 20px #ff375f) drop-shadow(0px 0px 20px #ff375f);
}