#bg,
#logo_olg {
  transform-origin: 0% 100%;
}

svg {
  overflow: visible;
}

.reveal {
  --p: 100%;
  --feather: 10px; /* optional soft edge */

  -webkit-mask-image: linear-gradient(
    90deg,
    #000 0%,
    #000 calc(var(--p) - var(--feather)),
    transparent var(--p),
    transparent 100%
  );
  mask-image: linear-gradient(
    90deg,
    #000 0%,
    #000 calc(var(--p) - var(--feather)),
    transparent var(--p),
    transparent 100%
  );

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
