@import "../../../_common/styles/b300x250.scss";
@import "../../../_common/styles/exclusive.scss";

.hero {
  // transform: translate(-42px, 10px) scale(0.64);
  transform: translate(-17px, 29px) scale(0.55);
}
