<div id="legalBtn"></div>
<div id="legalContent">
  Must be 19 years of age or older and a resident of Ontario, located in the province to play online casino games. Games
  may not appear as shown. Odds vary by game. Terms and conditions apply.
</div>
