@import "../../../_common/styles/b300x250.scss";
@import "../../../_common/styles/superbowl.scss";

.hero {
  //   transform: translate(-150px, -81px) scale(0.64);
  transform: translate(-42px, 10px) scale(0.64);
  //   transform-origin: 50% 50%;
}
